.main_container {
  transition: all 0.5s;
  opacity: 1;
  animation: mounted 2s;
  position: absolute;
  margin: 80px;
  backface-visibility: hidden;
  transform: perspective(600px) rotateY(180deg);
}



.second_container {
  background-color: rgb(243, 243, 243);
  backdrop-filter: blur(40px);
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  width: 50vw;
  max-height: 100%;
  position: absolute;
  top: 40px;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  margin-bottom: 40px;
  border-radius: 2px;
  overflow-x: hidden;
}

.form-sended {
  letter-spacing: 3px;
  padding-top: 30px;
}

.form-sended > h1 {
  color: rgba(0, 0, 0, 0.493);
  margin-bottom: 60px;
  font-size: 50px;
}

.form-sended > p {
  margin-bottom: 30px;
}

.navLink:link,
.navLink:visited,
.navLink:active {
  text-decoration: none;
  color: #3a4064;
}

.div-navLink {
  width: fit-content;
  height: 2rem;
  overflow-x: hidden;
  position: relative;
}

.div-navLink > hr {
  height: 2px;
  background-color: #3a4064cc;
  margin: 0;
  position: absolute;
  width: 100%;
  left: -101%;
  transition: all 0.6s;
}

.div-navLink:hover > hr {
  left: 0;
}

/* EFFECT SMOOTH TRANSITION - REACT STATES */

.fade-enter {
  position: relative;
  left: -120%;
}
.fade-exit {
  position: relative;
  left: 0;
}
.fade-enter-active {
  position: relative;
  left: 0;
}
.fade-exit-active {
  position: relative;
  left: -120%;
}
.fade-enter-active,
.fade-exit-active {
  transition: left 1000ms;
}


/* FLIP CARD */

.front-image {
  transition: all 0.5s;
  width: 100%;
  height: 100%;
  animation: mounted 2s;
  position: absolute;
  backface-visibility: hidden;
  transform: perspective(600px) rotateY(0deg);
}

.front-image > h1 {
  position: relative;
  text-align: center;
  top: 40px;
  font-size: 50px;
  z-index: 1;
  margin: 0;
  opacity: 0.75;
  letter-spacing: 4px;
}

.front-image > img {
  position: relative;
  object-fit: cover;
  left: -80px;
  top: 20px;
}

.front-image > p {
  position: relative;
  border: 2px solid rgba(201, 201, 201, 0.432);
  width: 12rem;
  height: 2.5rem;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(39, 30, 49, 0.685);
  color: white;
  cursor: pointer;
  font-weight: 100;
}

.front-image > p:hover {
  border-bottom-width: 2px;
  transform: scale(1.02);
}

.flip-front {
  transform: perspective(600px) rotateY(0deg);
}

.flip-back {
  transform: perspective(600px) rotateY(180deg);
}



@keyframes mounted {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@media (max-width: 1000px) {
  .second_container {
    min-height: 100%;
    margin-bottom: 30px;
    margin-top: 10px;
    height: fit-content;
  }

  .front-image > p{
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
  }

  .main_container{
    margin: 50px;
  }
}

@media (max-width: 860px) {
  .main_container {
    margin-top: 0px;
    padding: 0;
  }

  .second_container {
    width: 90vw;
  }

  .front-image > img{
    left: 0;
  }

    .front-image > p{
    left: 0;
    right: 0;
    margin: auto;
  }
}

@media (max-width: 800px){
    .front-image > img{
    left: -10%;
  }
}

@media (max-width: 650px){
    .front-image > img{
    left: -20%;
  }
}

@media (max-width: 600px){
    .front-image > img{
    left: -20%;
  }
}

@media (max-width: 500px){
    .front-image > img{
    left: -30vw;
  }
}

@media (max-width: 450px){
    .front-image > img{
    left: -40vw;
  }
}

@media (max-width: 400px){
    .front-image > img{
    left: -50%;
  }
}

@media (max-width: 360px){
    .front-image > img{
    left: -80%;
    top: -20px;
  }

  .front-image > p{
    bottom: 50px;
  }
}
