.info-form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.info-form-container >h1{
  position: absolute;
  top: 50px;
  font-size: 40px;
    animation: mounted_info 2s;
}

.div-info-form{
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 20px;
  font-size: 20px;
  margin-left: 40px;
  margin-bottom: 20px;
  letter-spacing: 4px;
  overflow-x: hidden;
  animation: mounted_info 2s;
}

.icon {
  width: 2rem;
  max-width: 2rem;
  overflow-x: hidden;
}

.info {
  width: 25rem;
  max-width: 25rem;
    overflow-x: hidden;
    font-size: 25px;

}
.back {
    position: absolute;
    right: 40px;
    bottom: 90px;
    transition: all 0.5s;
    animation: goback 1.5s;
}

.back:hover{
    transform: scale(1.05);
}

@keyframes mounted_info {
  from{
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes goback {
  from{
    right: -100px;
  }
  to {
    right: 40px;
  }
}