@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@300&display=swap');

body {
  margin: 0;
font-family: 'Mulish', sans-serif;
font-weight: 600;
color: rgba(0, 0, 0, 0.705);
  background-color: rgba(194, 197, 231, 0.849);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
